#Domain
DOMAIN_NAME=

#MariaDB
MARIADB_DB_NAME=
MARIADB_USER_NAME=
MARIADB_USER_PASSWORD=
MARIADB_ROOT_PASSWORD=
MARIADB_DATA_PATH=

#Wordpress
WORDPRESS_DATA_PATH=

WORDPRESS_DB_HOST=
WORDPRESS_DB_NAME=
WORDPRESS_DB_USER=
WORDPRESS_DB_PASSWORD=

WORDPRESS_ADMIN_USER=
WORDPRESS_ADMIN_PASSWORD=
WORDPRESS_ADMIN_EMAIL=

WORDPRESS_USER=
WORDPRESS_USER_PASSWORD=
WORDPRESS_USER_EMAIL=

